.podcast-media-controller-container {
  margin-top: 2rem;
  max-width: 600px;
  width: 100%;
  padding: 0 12px;
}

.podcast-media-controller {
  max-width: 600px;
  width: 100%;
  padding: 0 20px;
}

.time {
  color: #fff;
  font-size: 20px;
}